@import url("https://fonts.googleapis.com/css2?family=Monoton&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:ital@1&display=swap");

* {
  margin: 0;
  padding: 0;
}

html,
body {
  min-height: 100vh;
  min-width: 100vw;
  background-color: rgb(22, 22, 41);
}

h1 {
  font-size: 4rem;
}

h2 {
  margin: 1rem;
}

a {
  text-decoration: none;
  color: rgb(212, 67, 67);
  font-size: 1.5rem;
}

a:hover {
  color: rgb(245, 155, 155);
}

.current {
  background-color: white;
}

nav {
  display: flex;
  justify-content: space-evenly;
}

main {
  text-align: center;
  color: rgb(212, 67, 67);
}

button {
  font-family: "Roboto Mono", monospace;
  background: transparent;
  color: inherit;
  border: 0;
}

#text-input {
  font-family: "Roboto Mono", monospace;
  font-size: 1.5rem;
  margin: 0.5rem 0.5rem;
  outline: none;
  background: transparent;
  color: inherit;
  border: 0;
  min-width: 15rem;
  width: 20vw;
  border-bottom: 3px solid;
}

.moviefont {
  font-family: "Monoton", cursive;
}

.noshow {
  display: none;
}
